@import "compass/css3";
@import "https://fonts.googleapis.com/css?family=Dosis:300, 400, 500, 600, 700";
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

// Colors
$text-color: #444;
$title-color: #3c3c3c;
$hero-bg-color: #344557;
$violet: #6559ae;
$orange: #ff7159;
$about-myself-bold: #d2ff4c;
$primary-color: #ee4d4d;
$secondary-color: #2b2e48;

$width: 333px;
$height: 70px;
$border: 4px;
$deg: 120deg;
$size: 400%;
$dur: 5s;

/* Responsive Variables*/
$bg-body: #f9f9f9;

/*Typography*/
$main-font: "PT Sans", sans-serif;
$base-font: helvetica, arial, tahoma, verdana;
$base-font-title: "Dosis", arial, tahoma, verdana;
$base-font-color: #726f77;

@mixin clip-frame($width, $height, $border) {
  -webkit-clip-path: polygon(
    0% 100%,
    $border 100%,
    $border $border,
    $width - $border $border,
    $width - $border $height - $border,
    $border $height - $border,
    $border 100%,
    100% 100%,
    100% 0%,
    0% 0%
  );
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#footer {
  position: fixed;
  height: 5.5%;
  display: block;
  width: 100%;
  z-index: 11;
  text-align: left;
  background: transparent;
  bottom: 0px;
  font-family: "Squada One", cursive;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#footer:hover {
  background: #333333;
  opacity: 0.9;
}
.footer-links {
  padding: 72px;
  display: inline;
  margin: 0 auto;
}
.footer-links li {
  display: inline;
}
.footer-links a {
  position: relative;
  color: #fff;
  top: 1.05em;
  right: 7em;
  font-size: 20px;
}
.footer-links li.heroLink a {
  color: #fff;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer-links li.heroLink a:hover {
  color: #344557;
}
.footer-links li.bioLink a {
  color: #fff;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer-links li.bioLink a:hover {
  color: #395b7a;
}
.footer-links li.experienceLink a {
  color: #fff;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer-links li.experienceLink a:hover {
  color: #3e729e;
}
.footer-links li.skillsLink a {
  color: #fff;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer-links li.skillsLink a:hover {
  color: #4389c1;
}
.footer-links li.projectsLink a {
  color: #fff;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer-links li.projectsLink a:hover {
  color: #48a0e5;
}
.footer-social-icons {
  padding-left: 85%;
  display: block;
  margin: 0 auto;
}
.social-icon {
  color: #fff;
}
ul.social-icons {
  margin-top: -1.38em;
}
.social-icons li {
  display: inline;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.fa-facebook {
  padding: 0.4em 0.6em;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
}
.fa-facebook:hover {
  background-color: #3d5b99;
}
.fa-instagram {
  padding: 0.39em 0.5em;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
}
.fa-instagram:hover {
  background-color: #eb8231;
}
.fa-linkedin {
  padding: 0.39em 0.5em;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
}
.fa-linkedin:hover {
  background-color: #0073a4;
}
.fa-github {
  padding: 0.42em 0.5em;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
}
.fa-github:hover {
  background-color: #000;
}
.fa-envelope-o {
  padding: 0.38em 0.5em;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
}
.fa-envelope-o:hover {
  background-color: #006600;
}

/*######BODY######*/

body {
  width: 100%;
  height: 100%;
  color: $text-color;
  background: $hero-bg-color;
  font-size: 16px;
  font-family: $main-font;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  position: relative;
  width: 100%;
}

/*##### HERO SECTION #####*/

.hero {
  height: 100%;
  background: #344557
    url(https://assets.wired.com/photos/w_2000/wp-content/uploads/2016/01/Sutro-Tower_1.jpg)
    0 0 no-repeat;
  background-size: cover;

  &:after {
    content: "";
    @extend .absolute-centering;
    background: rgba(#344557, 0.85);
  }
}

.sutro-photo {
  background: #344557
    url(https://unsplash.imgix.net/photo-1423683249427-8ca22bd873e0?fit=crop&fm=jpg&h=700&q=75&w=1050)
    0 0 no-repeat;
  background-size: cover;
  &:after {
    content: "";
    @extend .absolute-centering;
  }
}

.a-hero-button {
  background-color: Transparent;
  display: block;
  @extend .absolute-centering;
  width: $width;
  height: $height;
  @extend .text-formatting;
  z-index: 1;
  border: none;
  cursor: pointer;
  &:after {
    content: "";
    @extend .absolute-centering;
    background: linear-gradient($deg, $violet, $orange, $violet);
    background-size: $size $size;
    @include clip-frame($width, $height, $border);
    @include animation(gradient $dur ease-in-out infinite, border 1s forwards ease-in-out reverse);
  }

  & > span {
    display: block;
    background: linear-gradient($deg, $violet, $orange, $violet);
    background-size: $size $size;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include animation(gradient $dur ease-in-out infinite);
  }
}

/*sidekicks (helpers for hero section)*/
.absolute-centering {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.text-formatting {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  line-height: 70px;
  font-family: "Squada One", cursive;
  font-size: 26px;
}

/*hero animation*/
@include keyframes(gradient) {
  0% {
    background-position: 14% 0%;
  }
  50% {
    background-position: 87% 100%;
  }
  100% {
    background-position: 14% 0%;
  }
}

@include keyframes(border) {
  0% {
    -webkit-clip-path: polygon(
      0% 100%,
      $border 100%,
      $border $border,
      $width - $border $border,
      $width - $border $height - $border,
      $border $height - $border,
      $border 100%,
      100% 100%,
      100% 0%,
      0% 0%
    );
  }
  25% {
    -webkit-clip-path: polygon(
      0% 100%,
      $border 100%,
      $border $border,
      $width - $border $border,
      $width - $border $height - $border,
      $width - $border $height - $border,
      $width - $border 100%,
      100% 100%,
      100% 0%,
      0% 0%
    );
  }
  50% {
    -webkit-clip-path: polygon(
      0% 100%,
      $border 100%,
      $border $border,
      $width - $border $border,
      $width - $border $border,
      $width - $border $border,
      $width - $border $border,
      $width - $border $border,
      100% 0%,
      0% 0%
    );
  }
  75% {
    -webkit-clip-path: polygon(
      0% 100%,
      $border 100%,
      $border $border,
      $border $border,
      $border $border,
      $border $border,
      $border $border,
      $border $border,
      $border 0%,
      0% 0%
    );
  }
  100% {
    -webkit-clip-path: polygon(
      0% 100%,
      $border 100%,
      $border 100%,
      $border 100%,
      $border 100%,
      $border 100%,
      $border 100%,
      $border 100%,
      $border 100%,
      0% 100%
    );
  }
}

@include keyframes(bounce) {
  0%,
  20%,
  50%,
  80%,
  100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-30px));
  }
  60% {
    @include transform(translateY(-15px));
  }
}

body {
  background: black;
}

/*##### ABOUT MYSELF SECTION #####*/

.about-myself {
  height: 100%;
  background: #395b7a
    url(https://i.redditmedia.com/r1oPBYws-7LiaNBDsRdvY-wgJSBe7bWM6KflQh6DGI8.jpg?fit=crop&crop=faces%2Centropy&arh=2&w=960&s=5359af204c998685f4f4336e4eed421e)
    0 0 no-repeat;
  background-size: cover;

  &:after {
    content: "";
    @extend .absolute-centering;
    background: rgba(#344557, 0.85);
  }

  .content {
    position: relative;
    top: 40%;
    z-index: 6;
    text-align: center;
    h2 {
      color: $about-myself-bold;
      font-size: 45px;
      margin-bottom: 20px;
    }

    .aboutTitleVisible {
      -webkit-transform: translateY(0px) scale(1);
      transform: translateX(0px) scale(1);
    }

    p {
      font-size: 1.75em;
      padding-top: 25px;

      span {
        color: $about-myself-bold;
        font-weight: bold;
      }
    }
  }
}

/*##### EXPERIENCE SECTION #####*/
$timeline-color: $primary-color;

/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
  &:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: " ";
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80, 80, 80);
    background: -moz-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(30, 87, 153, 1)),
      color-stop(100%, rgba(125, 185, 232, 1))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    z-index: 5;
  }
  li {
    padding: 1em 0;
    &:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
  text-align: left;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248, 248, 248);
  padding: 5.75px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before {
  position: absolute;
  top: 70%;
  right: -36px;
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 2.5px solid rgb(255, 80, 80);
  z-index: 10;
}

.direction-r .flag:before {
  position: absolute;
  top: 70%;
  left: -36px;
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 2.5px solid rgb(255, 80, 80);
  z-index: 10;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 40%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248, 248, 248);
  border-width: 11px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 40%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248, 248, 248);
  border-width: 11px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  line-height: 2.5em;
  top: 50%;
  font-size: 0.7em;
  color: rgb(250, 80, 80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline;
  top: 50%;
  padding: 4px 6px;
  background: rgb(248, 248, 248);
}

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.8em;
  font-style: italic;
  line-height: 1.5em;
  color: #000;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
    li {
      padding: 2em 0;
    }
  }
  .direction-l,
  .direction-r {
    float: none;
    width: 100%;
    text-align: center;
  }
  .flag-wrapper {
    text-align: center;
  }
  .flag {
    background: rgb(255, 255, 255);
    z-index: 15;
  }

  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }
  .direction-l .time-wrapper,
  .direction-r .time-wrapper {
    float: none;
  }
  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245, 245, 245);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 15;
  }
  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 15;
  }
}

/*##### SKILLS SECTION #####*/

.tiles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 750px;
  height: 450px;
  perspective: 1000px;
}

.col {
  position: relative;
  float: left;
  margin: 6px;
  width: calc(150px - 12px);
  height: calc(150px - 12px);
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    &:nth-child(1) {
      -webkit-clip-path: polygon(0 0, 100% 0, 50% 50%);
      clip-path: polygon(0 0, 100% 0, 50% 50%);
    }
    &:nth-child(2) {
      -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 50%);
      clip-path: polygon(100% 0, 100% 100%, 50% 50%);
    }
    &:nth-child(3) {
      -webkit-clip-path: polygon(0 100%, 50% 50%, 100% 100%);
      clip-path: polygon(0 100%, 50% 50%, 100% 100%);
    }
    &:nth-child(4) {
      -webkit-clip-path: polygon(0 0, 50% 50%, 0 100%);
      clip-path: polygon(0 0, 50% 50%, 0 100%);
    }
    &:hover {
      z-index: 3;
      -webkit-clip-path: none;
      clip-path: none;
    }
    &:nth-child(1):hover ~ .box {
      transform: rotateX(180deg);
    }
    &:nth-child(2):hover ~ .box {
      transform: rotateY(180deg);
    }
    &:nth-child(3):hover ~ .box {
      transform: rotateX(-180deg);
    }
    &:nth-child(4):hover ~ .box {
      transform: rotateY(-180deg);
    }
    &:nth-child(1):hover ~ .box:after,
    &:nth-child(3):hover ~ .box:after {
      transform: rotateX(-180deg);
    }
    &:nth-child(2):hover ~ .box:after,
    &:nth-child(4):hover ~ .box:after {
      transform: rotateY(-180deg);
    }
  }
  .box {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out;
    &:before {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-family: "Font Awesome 5 Free";
      font-size: 2.353em;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      border-radius: 2px;
      z-index: 2;
      backface-visibility: hidden;
    }
    &:after {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.059em;
      background: #333;
      color: #fff;
      border-radius: 2px;
      transition-delay: 0.15s;
    }
  }
  &:nth-child(1) .box:before {
    content: "Python";
    background: #3f51b5;
  }
  &:nth-child(1) .box:after {
    content: "5 years";
    background: #3f51b5;
  }
  &:nth-child(2) .box:before {
    content: "Java";
    background: #1da1f2;
  }
  &:nth-child(2) .box:after {
    content: "4 years";
    background: #1da1f2;
  }
  &:nth-child(3) .box:before {
    content: "React";
    background: #dc4a38;
  }
  &:nth-child(3) .box:after {
    content: "4 years";
    background: #dc4a38;
  }
  &:nth-child(4) .box:before {
    content: "Node";
    background: #006699;
  }
  &:nth-child(4) .box:after {
    content: "4 years";
    background: #006699;
  }
  &:nth-child(5) .box:before {
    content: "Angular";
    background: #36465d;
  }
  &:nth-child(5) .box:after {
    content: "4 years";
    background: #36465d;
  }
  &:nth-child(6) .box:before {
    content: "CSS";
    background: #f16528;
  }
  &:nth-child(6) .box:after {
    content: "3 years";
    background: #f16528;
  }
  &:nth-child(7) .box:before {
    content: "HTML";
    background: #0170ba;
  }
  &:nth-child(7) .box:after {
    content: "5 years";
    background: #0170ba;
  }
  &:nth-child(8) .box:before {
    content: "PHP";
    background: #21759b;
  }
  &:nth-child(8) .box:after {
    content: "4 years";
    background: #21759b;
  }
  &:nth-child(9) .box:before {
    content: "SQL";
    background: #323131;
  }
  &:nth-child(9) .box:after {
    content: "3 years";
    background: #323131;
  }
  &:nth-child(10) .box:before {
    content: "C++";
    background: #000000;
  }
  &:nth-child(10) .box:after {
    content: "3 years";
    background: #000000;
  }
  &:nth-child(11) .box:before {
    content: "C#";
    background: #fec540;
  }
  &:nth-child(11) .box:after {
    content: "3 years";
    background: #fec540;
  }
  &:nth-child(12) .box:before {
    content: "Tensorflow";
    background: #ef8043;
  }
  &:nth-child(12) .box:after {
    content: "2 years";
    background: #ef8043;
  }
  &:nth-child(13) .box:before {
    content: "XML";
    background: #2c74be;
  }
  &:nth-child(13) .box:after {
    content: "2 years";
    background: #2c74be;
  }
  &:nth-child(14) .box:before {
    content: "Swift";
    background: #409ed4;
  }
  &:nth-child(14) .box:after {
    content: "2 years";
    background: #409ed4;
  }
  &:nth-child(15) .box:before {
    content: "Ruby";
    background: #cc0f15;
  }
  &:nth-child(15) .box:after {
    content: "2 years";
    background: #cc0f15;
  }

  .tools-knowledge-wrapper {
    width: 100%;

    .tools-wrapper,
    .knowledge-wrapper {
      position: relative;
      padding: 20px 0;
      widht: 100%;
      text-align: center;

      ul {
        list-style-type: none;
        margin-left: 40px;

        li {
          color: $text-color;
          font-weight: bold;
          font-size: 1.1em;
          text-align: left;
        }
      }
    }
  }
}

/*##### PORTFOLIO SECTION #####*/

.portfolio {
  background: $hero-bg-color;
  padding: 80px 0;

  .content {
    text-align: center;

    h1 {
      color: $title-color;
      font-size: 2em;
      margin-bottom: 50px;
    }

    .projects {
      width: 100%;

      .project {
        color: #fff;
        position: relative;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        overflow: hidden;

        &:last-child {
          margin-bottom: 0;
        }

        .project-image img {
          width: 100%;
        }
        .project-title {
          color: $title-color;
          padding: 10px 0;
        }
        .project-description {
          color: $text-color;
        }
      }
    }
  }
}

/*##### RESPONSIVE SECTION #####*/

@media screen and (min-width: 480px) {
  .skills .content {
    .tools-knowledge-wrapper {
      .tools-wrapper,
      .knowledge-wrapper {
        width: 50%;
        float: left;
        padding: 0;

        ul {
          margin-left: 0;
        }
      }
    }
    .clear {
      clear: both;
    }
  }
}

@media screen and (min-width: 640px) {
  .about-myself {
    padding: 100px 40px;
  }

  .skills {
    padding-left: 0;
    padding-right: 0;

    .content {
      .development-wrapper {
        width: 600px;
        margin: auto;
        margin-bottom: 50px;
      }

      .tools-knowledge-wrapper {
        width: 600px;
        margin: auto;
      }
    }
  }

  .contact {
    .content {
      .socials {
        width: 600px;
        margin: auto;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  /*Mixins and Placeholders*/
  %clearfix {
    &:after,
    &:before {
      content: "";
      display: block;
      width: 100%;
      clear: both;
    }
  }

  @mixin prefix($prop, $val) {
    @each $prefix in "-webkit-", "-moz-", "-ms-", "" {
      #{$prefix}#{$prop}: $val;
    }
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  body,
  html {
    height: 100%;
  }
  body {
    background: $bg-body;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: $base-font;
    line-height: 20px;
    font-size: 14px;
    color: $base-font-color;
  }

  img {
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  .container {
    max-width: 1100px;
    margin: 0 auto;
  }

  h1,
  h2,
  h3,
  h4 {
    font: {
      family: $base-font-title;
      weight: 500;
    }
  }

  .project-name {
    text-align: center;
    padding: 10px 0;
  }

  /*Header*/
  header {
    background: $secondary-color;
    padding: 10px;
    @include prefix(box-shadow, 0 3px 3px rgba(0,0,0,0.05));
    @extend %clearfix;

    .logo {
      color: $primary-color;
      float: left;
      font: {
        family: $base-font-title;
        size: 22px;
        weight: 500;
      }

      > span {
        color: lighten($primary-color, 20%);
        font-weight: 300;
      }
    }

    .social {
      float: right;
      .btn {
        font-family: "Dosis";
        font-size: 14px;
        margin: 10px 5px;
      }
    }
  }

  /*Timeline*/
  #timeline {
    width: 100%;
    margin: 30px auto;
    position: relative;
    padding: 0 10px;
    @include prefix(transition, all 0.4s ease);

    &:before {
      content: "";
      width: 3px;
      height: 100%;
      background: $timeline-color;
      left: 50%;
      top: 0;
      position: absolute;
    }

    &:after {
      content: "";
      clear: both;
      display: table;
      width: 100%;
    }

    .timeline-item {
      margin-bottom: 50px;
      position: relative;
      @extend %clearfix;

      .timeline-icon {
        background: $timeline-color;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 50%;
        overflow: hidden;
        margin-left: -23px;
        @include prefix(border-radius, 50%);

        svg {
          position: relative;
          top: 14px;
          left: 14px;
        }
      }

      .timeline-content {
        width: 45%;
        background: #fff;
        padding: 20px;
        @include prefix(box-shadow, 0 3px 0 rgba(0,0,0,0.1));
        @include prefix(border-radius, 5px);
        @include prefix(transition, all 0.3s ease);

        h2 {
          padding: 15px;
          background: $timeline-color;
          color: #fff;
          margin: -20px -20px 0 -20px;
          font-weight: 300;
          @include prefix(border-radius, 3px 3px 0 0);
        }

        &:before {
          content: "";
          position: absolute;
          left: 45%;
          top: 20px;
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-left: 7px solid $timeline-color;
        }

        &.right {
          float: right;

          &:before {
            content: "";
            right: 45%;
            left: inherit;
            border-left: 0;
            border-right: 7px solid $timeline-color;
          }
        }
      }
    }
  }

  /*Buttons*/
  .btn {
    padding: 5px 15px;
    text-decoration: none;
    background: transparent;
    border: 2px solid lighten($primary-color, 10%);
    color: lighten($primary-color, 10%);
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    @include prefix(border-radius, 5px);
    @include prefix(transition, background 0.3s ease);
    @include prefix(box-shadow, 2px 2px 0 lighten($primary-color, 10%));

    &:hover {
      box-shadow: none;
      top: 2px;
      left: 2px;
      @include prefix(box-shadow, 2px 2px 0 transparent);
    }
  }

  @media screen and (max-width: 768px) {
    #timeline {
      margin: 30px;
      padding: 0px;
      width: 90%;
      &:before {
        left: 0;
      }

      .timeline-item {
        .timeline-content {
          width: 90%;
          float: right;

          &:before,
          &.right:before {
            left: 10%;
            margin-left: -6px;
            border-left: 0;
            border-right: 7px solid $timeline-color;
          }
        }

        .timeline-icon {
          left: 0;
        }
      }
    }
  }
  .skills {
    padding-left: 50px;
    padding-right: 50px;

    .content {
      max-width: 1100px;
      margin: auto;

      .development-wrapper,
      .tools-knowledge-wrapper {
        float: left;
      }

      .development-wrapper {
        margin-bottom: 0;
        width: 60%;
      }

      .tools-knowledge-wrapper {
        width: 40%;
        margin-top: 60px;

        .tools-wrapper,
        .knowledge-wrapper {
          float: none;
          margin: auto;
        }

        .tools-wrapper {
          margin-bottom: 30px;
        }
      }
    }
  }
  .project-title {
    padding-bottom: 35px;
    position: center;
    font-size: 45px;
  }
  .project-description {
    padding-top: 35px;
    position: center;
    font-size: 20px;
  }
}
